.mypy_cache
.coverage
htmlcov
.venv
.vscode
*.py[co]
*.egg
*.egg-info
*.ipynb
*.code-workspace
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
*.mo
.s3cfg
.env.local
.env
*/venv

TODO.md
*/others
node_modules
VScodeTips.md
/venv
others/
*db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env